* {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    background-color: bisque;
    margin-top: 30px;

}

.first {
    /* background-color: #e4dfd0;
    width: 465px;
    padding: 8px;
    height: 500px;
    margin-top: 10px;
    margin-left: 11%;
    margin-bottom: 15px;*/
    background-color: #fff4f4;
    width: 439px;
    padding: 8px;
    height: 472px;
    margin-top: 10px;
    margin-left: 11%;
    margin-bottom: 15px;
}

.second {

    /* background-color: rgb(143, 92, 40);

    width: 465px;
    padding: 8px;
    height: 500px;
    margin-top: 10px;
    margin-left: 1px;
    margin-bottom: 15px;*/



    background-color: #a16941;
    width: 439px;
    padding: -67px;
    height: 487px;
    margin-top: 10px;
    margin-left: 1px;
    margin-bottom: 15px;
}

.flex-container h6 {
    /* color: white;
    text-transform: uppercase;

    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    text-align: center;*/
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    font-style: normal;
    font-weight: initial;
    text-align: center;
    font-size: 13px;

}

h1 {
   /* font-size: 58px;
    margin-top: 41px;
    opacity: 0.4;
    color: #828574;
    font-weight: 100;
    margin-left: 12px;*/
    font-size: 58px;
    margin-top: 15px;
    opacity: 0.4;
    color: #828574;
    font-weight: 100;
    margin-left: 12px;
}

.img1 {
    border-radius: 50px;

    width: 50px;
    height: 50px;
    object-fit: fill;
    margin: auto;

}

.img2 {


    height: 279px;
    object-fit: fill;
    margin: auto;
    position: absolute;
    width: 16%;
    margin-left: 90px;
    margin-top: 41px;}




.p1 {
    margin-top: 70px;
    margin-left: 6px;
    font-size: 14px;

}

p {
    margin-left: 61px;
    font-size: 50px;
}

.third {
    /*margin-top: 20px;
    margin-left: 10px;
    width: 210px;
    font-size: 14px;*/
    margin-top: 20px;
    margin-left: 10px;
    width: 231px;
    font-size: 14px;
    font-family: sans-serif;
    opacity: 0.8;

}

.p2 {



    margin-left: 188px;
    color: white;
    font-size: 15px;
    line-height: 25px;
}

a {
    position: absolute;
    top: 23%;
    right: 16px;
    font-size: 24px;
    width: 39%;
}

.div1 {
    margin-top: 10px;
    margin-left: 10px;
}

.div4 {
    text-align: center;
    margin-top: 370px;
    color: white;
}